<div class="content" (click)="click()" (contextmenu)="contextmenu()" [class.discovered]="cell.discovered" [class.mine]="cell.discovered && cell.isMine"
    [class.beaten]="cell.beaten">
    <ng-container *ngIf="cell.discovered">
        <span *ngIf="cell.isMine; else probabilityBlock" class="mine"> <i class="fa fa-bomb"></i></span>
        <ng-template #probabilityBlock>
            <ng-container *ngIf="cell.probability > 0">
                <h3>{{ cell.probability }}</h3>
            </ng-container>
        </ng-template>
    </ng-container>
</div>